/*MEDIA QUERIES*/
@media only screen and (max-width: 1200px){
	.card{
		max-width: 33%;
		flex:33%;
	}
	.posts{
		grid-template-columns: auto auto;
	}
	.footer-container{
		grid-template-columns: auto;
	}
	.images{
		grid-template-columns: auto auto auto auto auto auto;
	}
}
@media only screen and (max-width: 860px) {
	.header-container{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.main-menu{
		display: none;
	}
	.main-menu li{
		display: block;
		width: 100%;
		font-size: 12px;
		margin:5px 0;
	}
	.main-menu a{
		display: inline-block;
		padding: 8px 5px;
		margin-right: 0;
	}
	.toggle-button{
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
	}
	.toggle-button:after{
		content: attr(data-open);
		display: block;
	}
	#checkbox-menu:checked + nav[role="navigation"] .main-menu{
		display: block;
	}
	#checkbox-menu:checked + nav[role="navigation"] .toggle-button:after{
		content: attr(data-close);
	}
	.main-menu{
		position: relative;
		top: 30px;
		right: 80px;
	}
	.card{
		max-width: 100%;
	}
	.top-slide{
		padding-top: 30px;
		padding-bottom: 100px;
	}
	.top-slide h2 {
	   	font-size: 50px;
	}
	.specialize-cards {
		display: grid;
		grid-template-columns: auto auto;
	}
	.portfolio-wrapper {
    	margin: 0 auto;
    	padding-top: 90px;
    	padding-bottom: 28px;
    	text-align: center;
	}
	.specialize-container .motto {
    	font-size: 20px;
	}
	
	.footer-container{
		grid-template-columns: auto;
	}
	
	.footer-menu li{
		display: block;
	}
	.images{
		grid-template-columns: auto auto auto;
	}
}
@media only screen and (max-width: 590px){
	.specialize-cards {
   		grid-template-columns: auto;
	}
	.top-slide h2 {
	    font-size: 40px;
	}
	.top-slide p{
		font-size: 16px;
	}
	.specialize-container h1{
		font-size: 28px;
	}
	.portfolio-wrapper{
		padding-top: 60px;
	}
	.images{
		grid-template-columns:auto auto;
	}
	.contact-list p {
		margin: 0 0px 14px;
	}
}
@media only screen and (max-width: 320px){
	.images{
		grid-template-columns:auto;
	}
	.posts {
   		grid-template-columns: auto;
	}
}